# Build output
build/

# CMake cache files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Compiled objects & binaries
*.o
*.a
*.so
*.out


network_ids.c.bak15
network_ids.c.bak14
network_monitor.c.bak14